@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 33, 33, 33;
	--background-start-rgb: 255, 255, 255;
	--background-end-rgb: 200, 200, 200;
}

body {
	color: rgb(var(--foreground-rgb));
}

.bleed {
	box-shadow: 0 0 0 100vmax var(--tw-shadow-color);
	clip-path: inset(0 -100vmax);
}
